{% extends "menu_bar.html" %}

{% block body %}

<br>
<h2>Facilities</h2>
{% for facility in facilities %}
	<h3>{{facility[0]}}</h3>
{% endfor %}


<br>
<h2>ADD Facility</h2>
<form action="" class="form-inline" method="POST">
	<input type="text" class="form-control" placeholder="NAME" name="name" value="{{request.form.name}}">
	<input type="text" class="form-control" placeholder="CODE" name="code" value="{{request.form.code}}">
	<input class="btn btn-default" type="submit" value="ADD">

</form>

{{error}}
{% endblock %}
