<!DOCTYPE html>
<html lang ="en">
	<head><title>Asset</title></head>
	<body><body style="background:#DDDDDE">
			<h1>Enter login information</h1>
			<form action="{{url_for('add_asset')}}" method="POST">
				<input type="text" placeholder="asset tag" name="asset_tag" value="{{request.form.asset_tag}}">
				<input type="text" placeholder="description" name="description" value="{{request.form.description}}">
				<select name="facility" value="{{request.form.facility}}">
					<option value={{facility}} name={{facility}}>{{facility}}</option>
				</select>
				<button type ="submit">Login</button>
			</form>
		</body>
</html>
