{% extends "menu_bar.html" %}

{% block body %}

<br>
<h2>Facilities</h2>
{% for facility in facilities %}
	<h3>{{facility[0]}}</h3>
	{% endfor %}

<br>
<h2>Add Facility</h2>
<form action="" class="form-inline" method="POST">
	<input type="text" class="form-control" placeholder="name" name="common_name" value="{{request.form.common_name}}">
	<input type="text" class="form-control" placeholder="code" name="fcode" value="{{request.form.fcode}}">
	<input class="btn btn-default" type="submit" value="add">

</form>


{{error}}
{% endblock %}
