{% extends "menu_bar.html" %} 

{% block body %} 

<br>
<h2>Approve Request</h2>

<table class="table table-condenesed">
	<tr>
		<th>Requester ID</th>
		<th>Request Date</th>
		<th>Source</th>
		<th>Destination</th>
		<th>Asset ID</th>
	</tr>
{% for request in requests %}
	<tr>
		<td>{{request[0]}}</td>
		<td>{{request[1]}}</td>
		<td>{{request[2]}}</td>
		<td>{{request[3]}}</td>
		<td>{{request[4]}}</td>
		<form action="" method="POST" class="form-inline">
			<input type="hidden" name="request_pk" value="{{request[0]}}">
			<td><input type="submit" value="Approve" class="btn btn-success" name="approval"></td>
		<td><input type="submit" value="Deny" class="btn btn-danger" name="deny"></td>
		</form>
	</tr>
{% endfor %}
</table>

{{error}}

{% endblock %}




