{% extends "menu_bar.html" %} 

{% block body %} 

<form class="form-horizontal">
	<fieldset>
		<legend>APPROVE/DELETE REQUEST</legend>
		<p>Only Facility Officer can approve or delete</p>
		<table class="table table-striped table-hover ">
			<thead>	
				<tr><th><b>REQUESTER ID</b></th><th><b>REQUEST DATE</b></th><th><b>SOURCE</b></th><th><b>DESTINATION</b></th><th><b>ASSET ID</b></th></tr>
			</thead>
			<tbody>	   
				{% for request in requests %}
				<tr>
					<th> {{ request[0] }} </th>
					<th> {{ request[1] }} </th>
					<th> {{ request[2] }} </th>
					<th> {{ request[3] }} </th>
					<th> {{ request[4] }} </th>
					<th> <input class="btn btn-primary" type="submit" name="approval" value="APPROVE"> </th>
					<th> <input class="btn btn-primary" type="submit" name="deny" value="DELETE"> </th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</fieldset>
</form>



{{error}}

{% endblock %}




