{% extends "menu_bar.html" %}

{% block body %}

<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="asset_report">
		<form class="form-inline" method="POST">
			<select name="facility">
				<option value="" name=""></option>
				{% for facility in facilities %}
				<option value={{facility[0]}} name={{facility[0]}}>{{facility[0]}}</option>
				{% endfor %}
			</select>
			<input type="date" class="form-control" placeholder="date" name="date" value="{{request.form.date}}">
			<input class="btn btn-primary" type="submit" value="display">
		</form>
		<table class="table table-condenesed">
			<tr>
				<th>Asset Tag</th>
				<th>Facility</th>
				<th>Arrival Date</th>
			<tr>
		{% for data in data %}
			<tr>
				<td>{{data[0]}}</td>
				<td>{{data[1]}}</td>
				<td>{{data[2]}}</td>
			<tr>
		{% endfor %}
		</table>
	</div>
</div>

{{error}}
{% endblock %}
