{% extends "menu_bar.html" %}

{% block body %}

<br>
<h2>If you don't have username, create one here!</h2>

<form action="" class="form-horizontal" method="POST">
	<fieldset>
		<legend>CREATE USER</legend>
		<div class="form-group">
			<label for="username" class="col-lg-2 control-label">Username</label>
			<div class="col-lg-2">
				<input type="text" class="form-control" placeholder="USERNAME" name="username" value="{{request.form.username}}">
			</div>
		</div>

		<div class="form-group">
			<label for="username" class="col-lg-2 control-label">Password</label>
			<div class="col-lg-2">
				<input type="password" class="form-control" placeholder="PASSWORD" name="password" value="{{request.form.password}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-2 control-label">Role</label>
			<div class="col-lg-2">
				<select name="role" value="{{request.form.role}}">
					<option value="logistics_officer" name="logistics_officer">Logistics Officer</option>
					<option value="facilities_officer" name="facilities_officer">Facilities Officer</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<input class="btn btn-default" type="submit" value="Create User">
				<button onclick="myFunction()">Pop up</button>
			</div>
		</div>
	</fieldset>
</form>


<script>
function myFunction() {
	var x; 
	if(confirm("Are you sure you want to create user?") == true){
		x = "You pressed OK!";
	} else {
		x = "You pressed Cancel!";
	}
	document.getElementById("demo").innerHTML = x;
}
</script>


{{error}}
{% endblock %}
