<!DOCTYPE html>
<html lang = "en">
   <head><title>Create user</title></head>
	<body>
	<body style="background:#F17B7B">
		<h1>Create account</h1>
		<p class="lead"> Enter the username and the password! </p>
		<FORM action="{{url_for('create_user')}}" method="POST">
			<TABLE>
				<TR><TD>Username:</TD><TD><INPUT TYPE="TEXT" NAME="username"/></TD></TR>
				<TR><TD>Password:</TD><TD><INPUT TYPE="PASSWORD" NAME="password"/></TD></TR>
			</TABLE>
			<INPUT TYPE="SUBMIT" value="create" />
		</FORM>
		<FORM action ="http://127.0.0.1:8080/">
			<p> If you already have account or don't want to create one</p>
			<input type="submit" value="back to login screen"/>
		</FORM>
	</body>
</html>
