{% extends "menu_bar.html" %}

{% block body %}

<br>
{% for asset in assets %}
	<h3>{{asset}}</h3>
{% endfor %}
<br>
<h2>Dispose Asset</h2>
<form action="" class="form-inline" method="POST">
	<input type="text" class="form-control" placeholder="asset tag" name="asset_tag" value="{{request.form.asset_tag}}">
	<input type="date" class="form-control" placeholder="date" name="date" value="{{request.form.date}}">

	<input class="btn btn-default" type="submit" value="Login">

</form>

{{error}}
{% endblock %}
