{% extends "menu_bar.html" %}

{% block body %}


<br>
<h2>Enter information</h2>
<form action="" class="form-inline" method="POST">
	<div class="form-group">
		<label for="username">USERNAME</label>
		<input type="text" class="form-control" name="username" value="{{request.form.username}}">
	</div>
	<div class="form-group">
		<label for="password">PASSWORD</label>
		<input type="password" class="form-control" name="password" value="{{request.form.password}}">
	</div>
	<input class="btn btn-default" type="submit" value="Login">

</form>

{{error}}
{% endblock %}
