<html>
	<head><title>CIS322 PROJECT</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet"></head>
	<body>
    	    <nav class="navbar navbar-default" id="nav">
		<div class="container-fluid">
			<ul class="nav nav-tabs">
			{% if session.logged_in %}
			<li><a href="{{ url_for('add_facility') }}">FACILITY add</a></li>
			<li><a href="{{ url_for('add_asset') }}">ASSET add</a></li>
			<li><a href="{{ url_for('dispose_asset') }}">ASSET dispose</a></li>
			<li><a href="{{ url_for('transfer_req') }}">TRANSFER request</a></li>
			<li><a href="{{ url_for('approve_req') }}">APPROVE request</a></li>
			<li><a href="{{ url_for('update_transit') }}">TRANSFER update</a></li>
			<li><a href="{{ url_for('asset_report') }}">ASSET report</a></li>
				<ul class="nav navbar-nav navbar-right">
					<form action="{{url_for('logout')}}" method="GET"><button class="btn btn-danger navbar-btn" href="{{url_for('logout')}}">LOG OUT</button></form>
				</ul>
			{% else %}
			<li><a href="{{ url_for('login') }}">LOGIN</a></li>
			<li><a href="{{ url_for('create_user') }}">CREATE user</a></li>
			{% endif %}

			</ul>

			{% if session.logged_in %}
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">LOGGED IN</h3>
				</div>
				<div class="panel-body">
					<p>ID: {{session.username}}</p>
					<p>ROLE: {{session.role}}</p>
				</div>
			</div>
			
			{% endif %}

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}

						<script>
							var message={{messages| safe}};
							for(var i = 0; i<message.length;i++){
								alert(message[i]);
							}
						</script>
					{% endfor %}
				{% endif %}
			{% endwith %}

{% block body %} {% endblock %}
		</div>
    	   </nav>
	</body>
</html>
