{% extends "menu_bar.html" %}

{% block body %}

{% if session.role == "Logistics Officer" %}

<form class="form-horizontal" method="POST">
	<fieldset>
		<legend>TRANSFER ASSET</legend>
		<p>- User input should be checked for validity</p>
		<p>- Check asset tag exist </p>
		<p>- Check source and destination facilities exists</p>
		<div class="form-group">
			<label for="asset_tag" class="col-lg-2 control-label">ASSET TAG</label>
			<div class="col-lg-2">
				<select class="form-control" name="asset_tag">
				{% for asset in session.assets %}
					<option value={{asset[0]}}>{{asset[0]}}</option>
				{% endfor %}
				</select>	
			</div>
		</div>
		<div class="form-group">
			<label for="facility" class="col-lg-2 control-label">SOURCE</label>
			<div class="col-lg-2">
				<select class="form-control"  name="source">
				{% for facility in session.facilities %}
					<option value={{facility[0]}}>{{facility[0]}}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="facility" class="col-lg-2 control-label">DESTINATION</label>
			<div class="col-lg-2">
				<select class="form-control"  name="destination">
				{% for facility in session.facilities %}
					<option value={{facility[0]}}>{{facility[0]}}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<input class="btn btn-primary" type="submit" value="GENERATE">
			</div>
		</div>	
	</fieldset>
</form>



{% endif %}


{{error}}
{% endblock %}
