{% extends "menu_bar.html" %}

{% block body %}

<h2>Update Transit:</h2>

{% if session.role == "Logistics Officer" %}

<form class="form-horizontal" method="POST">
	<fieldset>
		<legend>UPDATE TRANSIT</legend>
		<div class="form-group">
			<label for="asset_tag" class="col-lg-2 control-label">TRANSIT</label>
			<div class="col-lg-2">
				<select name="transit_pk" value="{{request.form.transit_pk}}">
				{% for item in session.transit %}
					<option value={{item[0]}}>{{item[0]}}</option>
				{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="asset_tag" class="col-lg-2 control-label">LOAD DATE</label>
			<div class="col-lg-2">
				<input type="date" class="form-control"  name="load">
			</div>
		</div>
		<div class="form-group">
			<label for="asset_tag" class="col-lg-2 control-label">UNLOAD DATE</label>
			<div class="col-lg-2">
				<input type="date" class="form-control"  name="unload">
			</div>
		</div>
		<input class="btn btn-primary" type="submit" name="GENERATE">
	</fieldset>
</form>

{% endif %}


{{error}}
{% endblock %}
