{% extends "menu_bar.html" %}

{% block body %}

<h2>Update Transit:</h2>

<form method="POST" class="form-inline">
	<select name="transit_pk" value="{{request.form.transit_pk}}">
		{% for item in transit %}
		<option value={{item[0]}} name={{item[0]}}>{{item[0]}}</option>
		{% endfor %}
	</select>
	<input type="date" class="form-control" placeholder="load" name="load">
	<input type="date" class="form-control" placeholder="unload" name="unload">
	<input class="btn btn-primary" type="submit" name="submit">
</form>

{{error}}
{% endblock %}
